@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading-col: #000;
  --global-col: #494949;
  --page-bg: #fafafa;
  --transition-bg: #c0c0c0;
  --button-bg: #4361ee; 
}

body {
  background-color: var(--page-bg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-col);
}
p,button,li {
  line-height: 1.25;
  font-size: 1.125rem;
}
button {
  background-color: var(--button-bg);
}
input:focus {
  border: 2px solid var(--global-col);
}
textarea:focus {
  border: 2px solid var(--global-col);
}

.margin__setter {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
.padding__setter {
    padding-left: 2%;
    padding-right: 2%;
}

@media screen and (max-width: 800px) {
  .margin__setter {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
  }
  .padding__setter {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* Themed classes */

/* BORDERS */

.b__bottom {
  border-bottom: 1px solid var(--global-col);
}
.b__top {
  border-top: 1px solid var(--global-col);
}
.b {
  border: 1px solid var(--global-col);
}

/* BACKGROUNDS */

.global__bg {
  background-color: var(--global-col);
}
/* Inverse Colour Background */
.ic__bg {
  background-color: var(--page-bg);
}
/* Button Colour Background */
.bc__bg {
  background-color: var(--button-bg);
}
.transition__bg {
  background-color: var(--transition-bg);
}

/* COLOURS */

/* (Highlight Colour) */
.hc {
    color: var(--button-bg);
}
/* (Primary Colour) */
.pc { 
    color: var(--global-col);
}
/* (Inverse Colour) */
.ic { 
    color: var(--page-bg);
}
.svgFill {
    fill: var(--page-bg);
}
.ic__b_top {
  border-top: 1px solid var(--page-bg);
}
.ic__b_bottom {
  border-bottom: 1px solid var(--page-bg);
}
/* HOVER STATES */

.hvr {
    transition: all 0.2s ease-in-out;
  }
.hvr:hover{
  scale:1.02;
}

/* FORM ELEMENTS */

.target__form {
    display: flex;
    flex-direction: column;
}
.accent__col_placeholder {
    opacity: 0.5;
    color: var(--global-col);
}

/* MISC */

.bottom__left_radius {
    border-bottom-left-radius: 50px;
}
